<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Recipe Bot</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/view_recipe">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user_page">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analytics">Analytics</a>
            </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        <h2 class="text-center my-3">About us</h2>
          <h3>We are Web Weavers. Our Team Members are:</h3>
          <div class="col-md-10">
            <div class="col-md-2">
                <p>Ananya </p>
            </div>
            <div class="col-md-2">
                <p>Pratulyan </p>
            </div>
            <div class="col-md-2">
                <p>Deeptha </p>
            </div>
            <div class="col-md-2">
                <p>Swathi</p>
            </div>
            <div class="col-md-2">
                <p>Rashil</p>
            </div>
        </div>
        <h3>We are here to present our project RecipeBot.</h3>
        <h3>An application that provides a recipe with just the ingredients available in front of us and not require anything else.
        </h3>

      </div
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>